*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}


/* megamenu style :start */

.video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 120%; 
    transform: translate(-50%, -50%);
    z-index: -1; 
    pointer-events: none; 
}

.bg{
    background-color: #f1f1f1;
    margin-top: 10px;
}

.menu_wrapper {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.menu_wrapper>figure{
    width: 100px;
}

.menu_wrapper>figure>img{
    width: 100%;
}

.nav{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
}
.menu>li {
    list-style: none; 
    position: relative;
    margin-right: 10px;
}

.menu>li::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: 0%;
    left: 50%;
    background-color: red;
    transform: translateX(-50%);
    transition: .5s;
}
.menu>li:hover::before{
    width: 100%;
}

.menu>li>a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    padding: 20px;
}
.menu>li i {
    margin-left: 10px;
}

.subMenu li{
    list-style: none; 
    position: relative;
}
.subMenu li a{
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    padding: 20px;
}

.subMenu li::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: 0%;
    left: 50%;
    background-color: red;
    transform: translateX(-50%);
    transition: .5s;
}

.subMenu li:hover::before{
    width: 100%;
}

.subMenu{
    position: absolute;
    background-color: #f1f1f1;
    transform: translate(0%, 7%);
    visibility: hidden;
    transition: .3s;
}

.menu>li:hover .subMenu{
    visibility: visible;
    transform: translate(0%, 0%);
}

.subMenu>li>i{
    display: inline;
}

.subMenu>li>ul {
    position: absolute;
    background-color: #f1f1f1;
    top: 0;
    width: max-content;
    left: 100%;
    transform: translateX(5%);
    visibility: hidden;
    transition: .3s;
}

.subMenu>li:hover>ul{
    visibility: visible;
    transform: translateX(0%);
}

.megaMenu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.megaMenu {
    display: grid;
    width: 100vw;
    height: max-content;
    grid-gap: 20px;
    overflow: hidden;
    position: fixed;
    border-top: 2px solid gray;
    left: 0;
    background: #f1f1f1;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 6px;
    visibility: hidden;
    transform: translateX(20px);
    transition: .3s;
}

.megaMenu img{
    width: 100%;
    height: 200px;
}

.menu>li:hover>.megaMenu{
    visibility: visible;
    transform: translateX(0px);
    margin-top: 0px;
}

/* megamenu style end */

.slide{
    width: 800px;
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    position: relative;
    margin: 250px;
}

.slide>div{
    height: 300px;
}

.slide1{
    position: relative;
}

.front {
    background-image: url(..//images/akash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    background-position: center;
    width: 100%;
    height: 100%;
    left: 0;
    backface-visibility: hidden;
    cursor: pointer;
    transform: rotateY(0deg);
}

.back{
    background-image: url(..//images/alom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    background-position: center;
    width: 100%;
    height: 100%;
    left: 0;
    backface-visibility: hidden;
    cursor: pointer;
    transform: rotateY(180deg);
    transition: .3s;
}

.slide1:hover .front{
    transform: rotateY(180deg);
}

.slide1:hover .back{
    transform: rotateY(0deg);
}

.slide2{
    position: relative;
    background: url(..//images/ashraf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    perspective: 1000;
    cursor: pointer;
    z-index: 100;

}

.slide2::before {
    content: "Solid";
    position: absolute;
    top: -14px;
    right: -14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.slide2::after{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    perspective: 1000;
    -webkit-perspective: 1000;
    transform: rotateY(180deg);
    background: url(../images/ashraf\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform-origin: left;
    transition: .3s;
    visibility: hidden;
    z-index: 1;

}

.slide2:hover::after{
    perspective: 0;
    transform: rotate(0deg);
    visibility: visible;
}

.slide3{
    position: relative;
    background-image: url(../images/akash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.slide3::after{
    content: "";
    position: absolute;
    background-image: url(../images/ashraf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 90%;
    right: 90%;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: translateY(180deg);
    transition: .5s;
    visibility: hidden;
    z-index: -100;
}

.slide3:hover::after{
    top: 0;
    right: 0;
    transform: translateY(0deg);
    visibility: visible;
    z-index: 20;
}

/* social media section Style :start */

.lastWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia {
    width: 350px;
    height: 333px;
    padding: 20px;
    background-color: #f1f1f187;
    text-align: center;
    border-radius: 9px;
    margin: 0 auto;
    z-index: 1;
    line-height: 53px;
}

.socialMedia img{
    height: 160px;
    width: max-content;
}



.socialMedia ul {
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    z-index: 100;
    text-align: center;
    margin-left: 40px;
}

.socialMedia ul>li {
    list-style: none;
    position: relative;
    overflow: hidden;
}
.socialMedia ul>li{
    width: 40px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 40px;
    text-align: center;
}
.socialMedia ul li i{
    line-height: 40px;
    display: block;
    color: black;
}

:root{
    --hover-color1:#0675e8;
    --hover-color2:#1da1f2;
    --hover-color3:#0077b5;
    --hover-color4:#000;
    --hover-color5:#f33;
}

.socialMedia ul>li::before {
    content: "";
    position: absolute;
    top: 100%;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left: 0;
    transition: .7s;
    z-index: -1;
}
.color1::before{
    background-color: var(--hover-color1);
}
.color2::before{
    background-color: var(--hover-color2);
}
.color3::before{
    background-color: var(--hover-color3);
}
.color4::before{
    background-color: var(--hover-color4);
}
.color5::before{
    background-color: var(--hover-color5);
}

.socialMedia ul li:hover::before {
    top: 0%;
    color: white;
}
.socialMedia ul li:hover i{
    color: white;
}